# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [4]:
import numpy as np
import pandas as pd
from datetime import datetime

recipes = pd.read_csv("C:\\Users\\sankl\\Downloads\\data\\recipes_sample.csv")
reviews = pd.read_csv("C:\\Users\\sankl\\Downloads\\data\\reviews_sample.csv")
reviews["date"] = reviews["date"].astype("datetime64[ns]") #2.1

reviews = reviews.rename(columns = {"Unnamed: 0": "id"})
reviews

,id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [5]:
print(f"recipes\nкол-во строк:{recipes.shape[0]}, кол-во столбцов:{recipes.shape[1]} \nтип данных каждого столбца:\n{recipes.dtypes}")
print()
print(f"reviews\nкол-во строк:{reviews.shape[0]}, кол-во столбцов {reviews.shape[1]} \nтип данных каждого столбца\n{reviews.dtypes}")

recipes
кол-во строк:30000, кол-во столбцов:8
тип данных каждого столбца:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

reviews
кол-во строк:126696, кол-во столбцов 6
тип данных каждого столбца
id                    int64
user_id               int64
recipe_id             int64
date         datetime64[ns]
rating                int64
review               object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [6]:
for i in recipes:
    print(f"В столбце {i} в таблице рецептов содержится {recipes[i].isnull().sum()} пропусков")
print()
for i in reviews:
    print(f"В столбце {i} в таблице рецептов содержится {reviews[i].isnull().sum()} пропусков")
print()
print(f"Доля строк содержащих пропуски в recipes:{(recipes.shape[0] - recipes.dropna().shape[0]) / recipes.shape[0]}")
print(f"Доля строк содержащих пропуски в reviews:{(reviews.shape[0] - reviews.dropna().shape[0]) / reviews.shape[0]}")

В столбце name в таблице рецептов содержится 0 пропусков
В столбце id в таблице рецептов содержится 0 пропусков
В столбце minutes в таблице рецептов содержится 0 пропусков
В столбце contributor_id в таблице рецептов содержится 0 пропусков
В столбце submitted в таблице рецептов содержится 0 пропусков
В столбце n_steps в таблице рецептов содержится 11190 пропусков
В столбце description в таблице рецептов содержится 623 пропусков
В столбце n_ingredients в таблице рецептов содержится 8880 пропусков

В столбце id в таблице рецептов содержится 0 пропусков
В столбце user_id в таблице рецептов содержится 0 пропусков
В столбце recipe_id в таблице рецептов содержится 0 пропусков
В столбце date в таблице рецептов содержится 0 пропусков
В столбце rating в таблице рецептов содержится 0 пропусков
В столбце review в таблице рецептов содержится 17 пропусков

Доля строк содержащих пропуски в recipes:0.5684666666666667
Доля строк содержащих пропуски в reviews:0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [7]:
recipes_sred = [recipes["minutes"].mean(), recipes["n_steps"].mean(), recipes["n_ingredients"].mean()]
reviews_sred = reviews["rating"].mean()

1.5 Создайте серию из 10 случайных названий рецептов.

In [8]:
pd.Series(recipes.sample(n=10)["name"])

22595              rick s kentucky bourbon steak
19607                             oven wild rice
25657                              spinach salad
26311    summer gazpacho with garlic cumin sauce
22988            rosemary roasted sweet potatoes
21377                   potato and apple galette
7681                             cottage carrots
21235                               pork goulash
18357             mussels with tomato wine broth
29554                        ww 0 pt   hot cocoa
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [9]:
reviews.reset_index(drop= True)

,id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [10]:
recipes205 = recipes[(recipes["minutes"] <= 20) & (recipes["n_ingredients"] <= 5)]
recipes205

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [11]:
recipes["submitted"] = recipes["submitted"].astype("datetime64[ns]")
recipes2010 = recipes[recipes["submitted"] >= datetime(year=2010, month=1, day=1)]
recipes2010

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [12]:
descrip = [len(str(i).split()) for i in recipes["description"]]
recipes["description_length"] = descrip
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,61
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,46
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,8
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,29
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,112
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,87
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,50
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,59
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,119
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,22

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [13]:
#recipes.columns = [i.title() for i in recipes.columns]
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,61
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,46
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,8
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,29
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,112
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,87
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,50
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,59
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,119
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,22

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [14]:
recipes["name_word_count"] = [len(i.split()) for i in recipes["name"]]
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,61,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,46,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,8,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,29,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,112,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,87,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,50,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,59,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,119,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,22,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [15]:
id_num = recipes.groupby("contributor_id")["id"].count()
x = id_num.to_dict()
m = max(x.values())
for i in x:
    if x[i] == m:
        print(i)
reviews

89831

,id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [16]:
reviews.groupby("id")["rating"].mean() # серия со среднимим значениями рейтинга
print(reviews.shape[0] - reviews.dropna(subset=["review"]).shape[0]) # для стольких рецептов отсутствуют отзывы

17

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [17]:
reviews["year"] = reviews["date"].dt.year
reviews.groupby("year").count()["id"]

year
2000       13
2001      305
2002     2494
2003     3879
2004     5070
2005     7577
2006     9964
2007    15634
2008    18614
2009    17672
2010    12094
2011     8118
2012     6095
2013     5679
2014     3445
2015     2715
2016     2071
2017     2926
2018     2331
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [18]:
new_df1 = reviews.dropna(subset=["review"])[["id","user_id","rating"]]
new_df2 = recipes[["id", "name"]]
new_df = pd.merge(new_df1, new_df2, on="id", how="left")
new_df.dropna()

            id     user_id  rating                                       name
15      447429  2002009481       0         bacon cheeseburger and fries  soup
81      158776       68321       5        thai salad with easy spicy dressing
162     263548      454479       5  pan seared trout with italian style salsa
174      38762      656995       4      grilled salmon with garlic mayonnaise
195      97048     1610738       5                    baked stuffed mushrooms
...        ...         ...     ...                                        ...
126452   54824     1671845       5                     hawaiian pork stir fry
126522  413935        1535       3                             poor mans bars
126565  147276  2001224044       3       maple yams with apples   cranberries
126599  355203      105601       5                               praline dust
126655  214204      186855       5       sharon s crock pot  chicken parmesan

[3451 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [19]:
recipes = recipes.sort_values(by='name_word_count')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
15528,kuchen,77329,63,112825,2003-11-26,NaN,this is a german coffee cake that was handed d...,NaN,61,1
29455,wimpies,75064,55,38865,2003-11-02,NaN,the best,13.0,2,1
23287,salscamole,295204,2,221965,2008-03-30,NaN,a deliciously addictive mixture of salsa and g...,NaN,11,1
19437,orangecicles,119528,65,169796,2005-04-28,NaN,this is a wonderful treat for a diabetic. not...,NaN,15,1
1587,babaganoush,375602,40,999578,2009-06-02,10.0,easy to make and very yummy!,7.0,6,1
...,...,...,...,...,...,...,...,...,...,...
5734,chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,28,13
26222,subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,212,14
27876,top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,21,14
28083,tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,85,14
26223,subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,62,15

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3